* {
	font-family: sans-serif;
	margin-left: 10px;
	margin-right: 10px;
}

#parentLoader {
	position: relative;
}

#loader {
	z-index: 2;
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #36A2EB;
	color: white;
	text-align: center;
}

#loader h2 {
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

h1, #charts > div{
	text-align: center;
}

h3 {
	font-size: 20px;
}

a {
	margin-left: 0px;
	margin-right: 0px;
}

#charts, #spotify {
	display: flex;
	flex-flow: row;
}

#charts > div {
	border: 2px solid black;
	border-radius: 20px;
	margin: 5px;
	padding: 7px;
}

ul {
	list-style-type: none;
}

#reacts {
	text-align: center;
}

#reacts img {
	margin: auto;
	width: 15%;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.active {
	position: relative; 
    top: -20px;
}

.hidden {
	display: none;
}

#charts {
	justify-content: center;
	padding: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

#olgas > img {
	width: 5.7%;
	height: 5.7%;
}

#olgas {
	display: flex;
	flex-flow: row;
	margin-left: 2%;
}

.thumbnail, .thumbnail2 {
	position: relative;
}

.thumbnail figure, .thumbnail2 figure {
	z-index: 2;
	display: none;
	position: absolute;
	width: 200px;
	top: 4em;
	padding: 10px;
	margin: 5px;
	border: 4px solid #000;
	background: #fff;
	border-radius: 1em;
}

.thumbnail figure {
	left: 5em;
}

.thumbnail2 figure {
	right: 5em;
}

.thumbnail figure img, .thumbnail2 figure img {
	display: inline-block;
	border-radius: 0.8em;
	max-width: 100%;
	height: auto;
}

.thumbnail:hover figure, .thumbnail2:hover figure {
	display: block;
}

#parentGrave {
	position:relative;
}

#ghost {
	width: 15%;
}

#tombstones {
	z-index: -1;
}

img, #ghostpath {
	width: 100%;
}

#svg-doc {
	position: absolute;
    z-index: 1;
}

#spotifyStats {
	height: 35%;
	width: 35%;
}