h1, #charts > div{
	text-align: center;
}

h3 {
	font-size: 20px;
}

img, #ghostpath {
	width: 100%;
}

#svg-doc {
	position: absolute;
    z-index: 1;
}

#parent {
	position:relative;
}

a {
  margin-left: 0px;
  margin-right: 0px;
}

#tombstones {
	z-index: -1;
}

* {
	font-family: sans-serif;
	margin-left: 10px;
	margin-right: 10px;
}

ul {
	list-style-type: none;
}

#ghost {
	width: 15%;
}

#reacts {
	text-align: center;
}

#loader {
	z-index: 2;
	position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height:100%;
    width:100%;
	background-color: #36A2EB;
	color: white;
	text-align: center;
}

#parentLoader {
	position: relative;
}

#loader h2 {
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

#reacts img {
	margin: auto;
	width: 15%;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.active {
	position: relative; 
    top: -20px;
}

.hidden {
	display: none;
}

#charts {
	justify-content: center;
	padding: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

#charts, #spotify {
	display: flex;
	flex-flow: row;
}

#charts > div {
	border: 2px solid black;
	border-radius: 20px;
	margin: 5px;
	padding: 7px;
}